<% if @comment.project %>
<h1>Create a new comment for <%= @comment.project.title %></h1>
<% else %>
<h1>Add a new Comment</h1>
<% end %>

<%= render partial: "/layouts/errors", locals: {object: @comment}%>

<%= render 'form' %>